*.db
*.env
*.db-journal
*.egg-info
*.env
*.http
*.sql
.dandy*
.dev
.idea
.markdown
.profile
.prompt_generator_output
.python-version
.venv*/
.vscode/
__pycache__/
__snapshots__/
archive/
build/
venv
venv*/
